body {
  font-family: Arial;
  padding: 20px;
  background: #f2f2f2;
}

h1 {
  text-align: center;
}

#products {
  width: 400px;
  margin: auto;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.card-price {
  color: green;
  font-size: 16px;
}
